.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .2s linear;
  height: 160px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(720deg); }
  to { transform: rotate(360deg); }
}
